TZ=Asia/Shanghai
API_SERVER_PORT=8080
WS_SERVER_PORT=9000
WS_HEARTBEAT_INTERVAL=60s
WS_PONG_TIMEOUT=75s
WS_WRITE_TIMEOUT=10s

MONGODB_URI=mongodb://USER:PASSWORD@MONGO_HOST:27017
MONGODB_DATABASE=x_im

REDIS_ADDR=REDIS_HOST:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=please-change-me
JWT_EXPIRE=3600
JWT_MAX_SESSION=86400
JWT_ISSUER=d-im

INTEGRATION_API_KEY=please-change-me
IM_FRONTEND_BASE_URL=https://chat.d-im.com

APP_NAME=d-im
APP_DEFAULT_AVATAR=

OSS_ENDPOINT=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET_NAME=
OSS_CUSTOM_DOMAIN=
OSS_DIRECTORY=uploads
